.card {
    transition: all 0.3s ease-in-out;
    border: 2px solid black;
    height: 62vh;
    /* min-height: 70vh; */
    margin: 1em 1.5em;
    overflow-y: auto;
    /* overflow-x: visible; */
    position: relative;
}

.card:hover {
    border-color: #0d6efd;
    box-shadow: 0px 0px 20px rgba(13, 110, 253, 0.7);
}

/* .time, .source, .author{
    position: absolute;
    z-index: 5;
    
}
.card:hover .time,.card:hover .source,.card:hover .author{
    color: white;
    background-color: rgb(0, 0, 0);
}
.time{
    top: 0;
}
.source{
    bottom: 22px;
    right: 0;
    padding: 0px 5px;
}
.author{
    bottom: 0;
    right: 0;
    padding: 5px;
} */

.loading{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.category-bar {
    width: 100%;
    overflow-x: auto; 
    white-space: nowrap;
    background-color: #000; /* Black background */
    padding: 10px 0;
}

.category-bar::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}

.category-btn {
    background-color: #333; /* Dark grey buttons */
    color: white;
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    margin-right: 10px;
    transition: 0.3s;
}

.category-btn:hover, .category-btn.active {
    background-color: white;
    color: black;
    font-weight: bold;
}